{% extends "base.html" %}

{% block title %}
Edit Device
{% endblock %}

{% block content %}
<h1>Edit Device</h1>
<form method="post" action="{{ url_for('device.edit', device_id=device.id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.device_name.label }} {{ form.device_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.device_type.label }} {{ form.device_type(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.description.label }} {{ form.description(class="form-control") }}
    </div>
    <div class="form-group form-check">
        {{ form.is_available }} {{ form.is_available.label(class="form-check-label") }}
    </div>
    <button type="submit" class="btn btn-primary">Update Device</button>
</form>
{% endblock %}
