{% extends "base.html" %}

{% block title %}
Benutzerverwaltung
{% endblock %}

{% block content %}
<h1>Benutzerverwaltung</h1>
<a href="{{ url_for('device.index') }}" class="btn btn-secondary mb-3">Zurück zu Geräteansicht</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Rolle</th>
            <th scope="col">Aktion</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role.name }}</td>
            <td>
                <form action="{{ url_for('admin.promote_user', user_id=user.id, role='admin') }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-primary">Adminrolle</button>
                </form>
                <form action="{{ url_for('admin.promote_user', user_id=user.id, role='teacher') }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-secondary">Lehrerrolle</button>
                </form>
                <form action="{{ url_for('admin.promote_user', user_id=user.id, role='student') }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-warning">Schülerrolle</button>
                </form>
                <form action="{{ url_for('admin.delete_user', user_id=user.id) }}" method="post" style="display:inline;" onsubmit="return confirm('Bist du sicher, dass du diesen Benutzer löschen möchtest?');">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}